[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/BloodyPlayer
Name=BloodyPlayer
Icon=/usr/share/pixmaps/bloodyLogo2.png
